@import "tailwindcss";



@font-face {
    font-family: 'Archivo';
    src: url('./assets/fonts/Archivo-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'Clash Display';
    src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
}

@theme {
    --font-archivo: "archivo";
    --font-clash: "Clash Display";
}