@import "tailwindcss";



@font-face {
    font-family: 'Archivo';
    src: url('./assets/fonts/Archivo-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'Clash Display';
    src: url('./assets/fonts/ClashDisplay-Variable.woff2') format('woff2');
}

@theme {
    --font-archivo: "Archivo", sans-serif;
    --font-clash: "Clash Display", sans-serif;
    --font-display: "Be Vietnam Pro", sans-serif;

    --color-primary: #f27f0d;
    --color-primary-dark: #d96d00;
    --color-background-light: #f8f7f5;
    --color-background-dark: #221910;
    --color-card-dark: #2d241b;
    --color-accent-blue: #00a2e8;
    --color-accent-yellow: #ffde00;

    --shadow-glow: 0 0 15px -3px rgba(242, 127, 13, 0.3);
}

body {
    @apply bg-background-light dark:bg-background-dark text-gray-800 dark:text-gray-100 font-display min-h-screen flex flex-col;
}

/* Custom scrollbar for webkit to match code.html */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #221910;
}

::-webkit-scrollbar-thumb {
    background: #3e3226;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f27f0d;
}

.active {
    /* text-primary font-bold px-3 py-2 rounded-md text-sm uppercase tracking-wide border-b-2 border-primary */
    color: orange;
    font-weight: bold;
    padding: 12px 8px;
    border-radius: 6px;

    :hover {
        color: #f27f0d;
    }
}